<!DOCTYPE html>
<html lang="en">
<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>
<!--====== Start Header ======-->
{{template "common/sub_header.html" .}}
<!--====== End Header ======-->

    <!-- Start Search From -->
    <div class="modal fade search-area" id="search-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <input type="text" placeholder="Search here...">
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search From -->

    <!--====== Page title area Start ======-->
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content text-center">
                <h1 class="page-title">Contact Us</h1>

                <ul class="breadcrumb-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
        <div class="page-title-effect d-none d-md-block">
            <img class="particle-1 animate-zoom-fade" src="static/picture/particle-1.png" alt="particle One">
            <img class="particle-2 animate-rotate-me" src="static/picture/particle-2.png" alt="particle Two">
            <img class="particle-3 animate-float-bob-x" src="static/picture/particle-3.png" alt="particle Three">
            <img class="particle-4 animate-float-bob-y" src="static/picture/particle-4.png" alt="particle Four">
            <img class="particle-5 animate-float-bob-y" src="static/picture/particle-5.png" alt="particle Five">
        </div>
    </section>
    <!--====== Page title area End ======-->

    <!--====== Start Contact Area ======-->
    <section class="blog-area p-t-130 p-b-130">
        <div class="container">
            <div class="row justify-content-lg-start justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10">
                    <div class="contact-info-boxes-v2">
                        <div class="contact-info-box m-b-30 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="icon icon-gradient-1">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="info-body">
                                <h5 class="title">Our Location</h5>
                                <p>354 Oakridge, Camden <br> NJ 08102 - USA</p>
                            </div>
                        </div>
                        <div class="contact-info-box m-b-30 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon icon-gradient-2">
                                <i class="fal fa-envelope-open-text"></i>
                            </div>
                            <div class="info-body">
                                <h5 class="title">Email Address</h5>
                                <p><a href="email-protection.html#780b0d0808170a0c11161e171a1102381f15191114561b1715"><span class="__cf_email__" data-cfemail="74070104041b06001d1a121b161d0e341319151d185a171b19">[email&#160;protected]</span></a></p>
                                <p><a href="javascript:;" target="_blank">www.businesscon.net</a></p>
                            </div>
                        </div>
                        <div class="contact-info-box wow fadeInUp" data-wow-delay="0.5s">
                            <div class="icon icon-gradient-3">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="info-body">
                                <h5 class="title">Urgent Call</h5>
                                <p><a href="tel:+01234578999">+012 (345) 678 99</a></p>
                                <p><a href="tel:+8563214">+8563214</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-xl-1 col-md-10">
                    <div class="contact-form-area m-t-md-100">
                        <div class="common-heading tagline-boxed m-b-40">
                            <span class="tagline">Send Us Message</span>
                            <h2 class="title">Have Any Questions ? <br> Let’s Start to Talk</h2>
                        </div>
                        <div class="contact-form-v2">
                            <form>
                                <div class="input-field m-b-30">
                                    <input type="text" id="fullName" placeholder="Full Name" name="name" required="">
                                    <label for="fullName">Name</label>
                                </div>
                                <div class="input-field m-b-30">
                                    <input type="text" id="phoneNumber" placeholder="Phone Number" name="phone" required="">
                                    <label for="phoneNumber">Phone</label>
                                </div>
                                <div class="input-field m-b-30">
                                    <input type="email" id="emailAddress" placeholder="Email Address" name="email" required="">
                                    <label for="emailAddress">Email</label>
                                </div>
                                <div class="input-field m-b-30">
                                    <input type="text" id="subject" placeholder="I Would Like To Discuses " name="subject" required="">
                                    <label for="subject">Subject</label>
                                </div>
                                <div class="input-field textarea-field m-b-30">
                                    <textarea id="message" placeholder="Message" name="message"></textarea>
                                </div>
                                <div class="input-field">
                                    <button type="submit" class="template-btn">Send Message <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-map-section">
        <div class="contact-map">
            <iframe src="javascript:;"></iframe>
        </div>
    </section>
    <!--====== Start Scroll To Top And Footer ======-->
    {{template "common/footer.html" .}}
    <!--====== End Scroll To Top And Footer ======-->
</body>

</html>