<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>
<!--====== Sign In Content  ======-->
<section class="sign-in-section p-t-120 p-b-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="sign-in-up-wrapper">
                    <form>
                        <div class="form-groups">
                            {{if eq .Type "reset_password"}}
                            <h4 class="form-title">Reset Your Password</h4>
                            {{else}}
                            <h4 class="form-title">Forgot Your Password</h4>
                            {{end}}
                            <!--忘记密码输入邮箱-->
                            {{if eq .Type "reset_password"}}
                            <!--重置密码-->
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input id="password" type="password" placeholder="Password">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input id="confirmPassword" type="password" placeholder="Confirm Password">
                            </div>
                            {{else}}
                            <!--输入邮箱账户-->
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-user"></i>
                                </div>
                                <input id="email" type="email" placeholder="Enter you Email Account">
                            </div>
                            {{end}}
                            <div id="login-in" class="field-group">
                                <button type="submit">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Sign In End ======-->
{{template "common/script.html" .}}
<script type="application/javascript">
    $(function () {
        var loading = false
        $("#login-in").on("click", function () {

            var account = $("#account").val()
            var password = $("#password").val()
            if (loading || !account || !password) {
                $.toast("Account or Password can`t empty!")
                return false
            }
            loading = true
            $.ajax({
                url: "/api/v1/login",
                type: "POST",
                data: JSON.stringify({account: account, password: password}),
                dateType: "json",
                error: function (error) {
                    $.toast(error.responseJSON.message)
                },
                success: function (data) {
                    localStorage.setItem("token", data.data.token)
                    location.href = "/"
                },
                complete: function () {
                    loading = false
                }
            })
            return false
        })
    })
</script>
</body>

</html>