<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>
<!--====== Sign In Content  ======-->
<section class="sign-in-section p-t-120 p-b-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="sign-in-up-wrapper">
                    <form>
                        <div class="form-groups">
                            {{if eq .Type "reset_password"}}
                            <h4 class="form-title">Reset Your Password</h4>
                            {{else}}
                            <h4 class="form-title">Forgot Your Password</h4>
                            {{end}}
                            <!--忘记密码输入邮箱-->
                            {{if eq .Type "reset_password"}}
                            <!--重置密码-->
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input autocomplete="off" id="password" type="password" placeholder="Password">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input autocomplete="off" id="confirmPassword" type="password"
                                       placeholder="Confirm Password">
                            </div>
                            {{else}}
                            <!--输入邮箱账户-->
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <input autocomplete="off" id="account" type="email"
                                       placeholder="Enter you Email Account">
                            </div>
                            {{end}}
                            <div id="confirm" class="field-group">
                                <button type="submit">Confirm</button>
                            </div>
                        </div>
                    </form>
                    <a href="/sign-in" class="forgot-password">Return to the Login page</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Sign In End ======-->
{{template "common/script.html" .}}
<script type="application/javascript">
    $(function () {
        var loading = false
        $("#confirm").on("click", function () {
            var params = {}
            var url = "/api/v1/record-account"
            var account = $("#account").val()
            var password = $("#password").val()
            var confirmPassword = $("#confirmPassword").val()
            if (loading) {
                $.toast("Account or Password can`t empty!")
                return false
            }
            // 重置密码，输入账户
            if (location.search.indexOf('reset_password') > -1) {
                if (!password && !confirmPassword) {
                    $.toast("Password and confirm password can`t empty!")
                    return false
                }
                if (password !== confirmPassword) {
                    $.toast("Password and confirm password are not the same")
                    return false
                }
                url = "/api/v1/reset-password"
                params.password = password
                params.confirmPassword = confirmPassword
                params.recordToken = $.query('record_token')
            } else {
                if (!account) {
                    $.toast("Account or Password can`t empty!")
                    return false
                }
                params.email = account
            }
            // 重置密码，输入密码和确认密码
            loading = true
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(params),
                dateType: "json",
                error: function (error) {
                    $.toast(error.responseJSON.message)
                },
                success: function (data) {
                    localStorage.setItem("token", data.data.token)
                    location.href = "/"
                },
                complete: function () {
                    loading = false
                }
            })
            return false
        })
    })
</script>
</body>

</html>