<!DOCTYPE html>
<html lang="en">
<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->
<body>

<!--====== Start Header ======-->
{{template "common/header.html" .}}
<!--====== End Header ======-->

<!-- Start Search From -->
<div class="modal fade search-area" id="search-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <input type="text" placeholder="Search here...">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- End Search From -->

<!--====== Start Hero Area ======-->
<section class="hero-area-v5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-8">
                <div class="hero-content wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="hero-title">
                        Get Solutions to Expert Consultant
                    </h1>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error voluptatem accusanti doloremque laudantium totam rem aperiam
                    </p>
                    <ul class="hero-btns d-flex align-items-center">
                        <li>
                            <a href="services.html" class="template-btn shadow-none">
                                Discover More <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="play-btn popup-video">
                                <i class="fas fa-play"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hero-thumbnail-wrap wow fadeInUp" data-wow-delay="0.3s">
            <div class="hero-thumbnail" style="background-image: url(static/image/hero-5-thumbnail.jpg);"></div>
        </div>
    </div>
</section>
<!--====== End Hero Area ======-->

<!--====== Statistics Area Start ======-->
<section class="statistics-section p-t-130 p-b-100">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-8">
                <div class="common-heading m-b-md-80">
                    <h2 class="title m-b-20">Company Statistics</h2>
                    <p>Sed perspicias unde omnis iste natus error voluptatem accusantium dolorem laudanme totam rem aperiam eaque quae.</p>

                    <a href="#" class="template-btn bordered-btn m-t-35">Learn More <i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="row counter-items-v2">
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="counter-item counter-left m-b-60">
                            <div class="counter-wrap">
                                <span class="counter">35</span>
                                <span class="suffix"><i class="far fa-plus"></i></span>
                            </div>
                            <p class="title">Our Trusted Active Clients</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-item counter-left m-b-60">
                            <div class="counter-wrap">
                                <span class="counter">75</span>
                                <span class="suffix"><i class="far fa-plus"></i></span>
                            </div>
                            <p class="title">SEO Project Complete</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="counter-item counter-left m-b-60">
                            <div class="counter-wrap">
                                <span class="counter">94</span>
                                <span class="suffix"><i class="far fa-plus"></i></span>
                            </div>
                            <p class="title">Experience Members</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-item counter-left m-b-60">
                            <div class="counter-wrap">
                                <span class="counter">28</span>
                                <span class="suffix"><i class="far fa-plus"></i></span>
                            </div>
                            <p class="title">Years Provide services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Statistics Area End ======-->

<!--====== Services Section Start ======-->
<section class="service-section bg-soft-grey-color p-t-130 p-b-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="common-heading text-center m-b-50">
                    <h2 class="title m-b-20">Popular Services</h2>
                    <p>Sed perspicias unde omnis iste natus error voluptatem accusantium dolorem laudanme totam rem aperiam eaque quae.</p>
                </div>
            </div>
        </div>

        <div class="row image-boxes-v2">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="image-box m-t-30">
                    <div class="box-image hover-overly-zoom">
                        <img src="static/picture/service-img-1.jpg" alt="Image">
                    </div>
                    <div class="box-content">
                        <h5 class="title">
                            <a href="service-details.html">Digital Marketing</a>
                        </h5>
                        <p>Reduce your time - market and create capitalize</p>
                        <a href="service-details.html" class="box-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="image-box m-t-30">
                    <div class="box-image hover-overly-zoom">
                        <img src="static/picture/service-img-2.jpg" alt="Image">
                    </div>
                    <div class="box-content">
                        <h5 class="title">
                            <a href="service-details.html">Email Marketing</a>
                        </h5>
                        <p>Reduce your time - market and create capitalize</p>
                        <a href="service-details.html" class="box-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="image-box m-t-30">
                    <div class="box-image hover-overly-zoom">
                        <img src="static/picture/service-img-3.jpg" alt="Image">
                    </div>
                    <div class="box-content">
                        <h5 class="title">
                            <a href="service-details.html">Marketing Strategy</a>
                        </h5>
                        <p>Reduce your time - market and create capitalize</p>
                        <a href="service-details.html" class="box-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="image-box m-t-30">
                    <div class="box-image hover-overly-zoom">
                        <img src="static/picture/service-img-4.jpg" alt="Image">
                    </div>
                    <div class="box-content">
                        <h5 class="title">
                            <a href="service-details.html">Web Development</a>
                        </h5>
                        <p>Reduce your time - market and create capitalize</p>
                        <a href="service-details.html" class="box-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Services Section End ======-->

<!--====== Simple Call To Action Start ======-->
<section class="simple-cta">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="row align-items-center justify-content-lg-between justify-content-center">
                    <div class="col-lg-8 col-md-auto">
                        <h4 class="cta-title m-b-md-30 text-center text-lg-left">Organize Your Business, Your Way, All In One Place</h4>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="template-btn white-bg bordered-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Simple Call To Action End ======-->

<!--====== Start Why Choose Us Section ======-->
<section class="wcu-section p-t-130 p-b-130">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-lg-6 col-md-10">
                <div class="preview-square-oval-image m-b-md-60">
                    <div class="square-image hover-overly-left-to-right">
                        <img src="static/picture/why-choose-us-1.jpg" alt="Image">
                    </div>
                    <div class="oval-image animate-float-bob-y hover-overly-zoom">
                        <img src="static/picture/why-choose-us-2.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-9">
                <div class="common-heading m-b-50">
                    <h2 class="title m-b-20">Why Choose Us</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sity voluptatem accusantium doloremque laudantie totam rem aperiam eaque quae abillo inventore.</p>
                </div>

                <ul class="fancy-check-list-v2">
                    <li class="wow fadeInUp" data-wow-delay="0.2s">
                        <span class="list-inner">Easy To Collaborate With User</span>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.3s">
                        <span class="list-inner">Manage Team & Users Flow</span>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.4s">
                        <span class="list-inner">Market Participant Perspective</span>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.5s">
                        <span class="list-inner">Upgrade Dashboard Systems</span>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">
                        <span class="list-inner">Institutional Grade Solutions</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--====== End Why Choose Us Section ======-->

<!--====== Start Testimonial Section ======-->
<section class="testimonials-section bg-soft-grey-color p-t-130 p-b-130">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between justify-content-center">
            <div class="col-lg-6 col-md-9 col-sm-11 order-lg-last">
                <div class="preview-square-oval-image with-counter-box m-b-md-60">
                    <div class="counter-item animate-float-bob-x">
                        <div class="count-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="count-details">
                            <span class="counter">23684</span>
                            <p>Clients Say Us</p>
                        </div>
                    </div>

                    <div class="square-image hover-overly-left-to-right">
                        <img src="static/picture/testimonial-right-thumbnail-1.jpg" alt="Image">
                    </div>
                    <div class="oval-image animate-float-bob-y hover-overly-zoom">
                        <img src="static/picture/testimonial-right-thumbnail-2.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 order-lg-first">
                <div class="common-heading m-b-60 m-b-md-0">
                    <h2 class="title">What Our Clients <br> Say About us</h2>
                </div>

                <div class="testimonial-slider-v1 testimonial-v1-fancy-boxed testimonial-extra-margin" id="testimonialActiveThree">
                    <div class="testimonial-item">
                        <div class="quote-icon">
                            <i class="flaticon-right-quote"></i>
                        </div>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae conse quatur vellum rem</p>
                        <div class="author-info">
                            <img src="static/picture/author-2.png" alt="testimonial author">
                            <h6 class="name">Ricky L. Simpson</h6>
                            <span class="title">Web Designer</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="quote-icon">
                            <i class="flaticon-right-quote"></i>
                        </div>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae conse quatur vellum rem</p>
                        <div class="author-info">
                            <img src="static/picture/author-1.png" alt="testimonial author">
                            <h6 class="name">Michael W. Kirwan</h6>
                            <span class="title">CEO & Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Testimonial Section ======-->

<!--====== Start Contact Section ======-->
<section class="contact-section p-t-130 p-b-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-9 col-sm-11">
                <div class="common-heading text-center m-b-60">
                    <h2 class="title">Need Free Consultation to Your Next Project</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="row justify-content-lg-between justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-8 col-sm-11">
                        <div class="contact-info-boxes-v1">
                            <div class="contact-info-box wow fadeInUp" data-wow-delay="0.3s">
                                <h4 class="title">Ready to Work Together For Better Solutions </h4>
                                <a href="team.html" class="template-btn bordered-btn">
                                    Join with us <i class="far fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="contact-info-box wow fadeInUp" data-wow-delay="0.4s">
                                <h4 class="title">Build A Better Career With <span>Landio</span></h4>
                                <a href="about.html" class="template-btn bordered-btn">
                                    View Our Jobs <i class="far fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10">
                        <div class="contact-form-v1 m-t-md-50">
                            <form action="#">
                                <div class="input-field">
                                    <input type="text" id="fullName" placeholder="Your Full Name" name="name" required="">
                                </div>
                                <div class="input-field">
                                    <input type="email" id="yourEmail" placeholder="Email Address" name="email" required="">
                                </div>
                                <div class="input-field">
                                    <select name="subject">
                                        <option>Subject You Like</option>
                                        <option value="knowsomething">About Us</option>
                                        <option value="sayhello">Say Hello</option>
                                        <option value="askme">Ask Me</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <textarea id="message" placeholder="Write Message" name="message"></textarea>
                                </div>
                                <div class="input-field">
                                    <button type="submit" class="template-btn">Get Free Quote <i class="far fa-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Contact Section ======-->

<!--====== Start Latest Blog With SEO score box ======-->
<section class="latest-news-with-seo-box">
    <!--====== Start SEO score box ======-->
    <div class="container">
        <div class="seo-score-box newsletters-form particle-image-two wow fadeInDown" data-wow-delay="0.3s">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-10 col-11">
                    <div class="score-box-content">
                        <h2 class="score-box-title">
                            Subscribe Newsletters
                        </h2>
                        <p>Empower SEO teams to find the best growth opportunities</p>
                    </div>
                    <form class="score-box-form">
                        <div class="form-group">
                            <input type="text" name="website" id="yourWebsite" placeholder="Your Name">
                            <input type="email" name="email" id="emailAddress" placeholder="Email Address">
                            <button type="submit" name="submit" class="template-btn secondary-bg">
                                Subscribe Now <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="seo-images d-none d-xl-block"></div>
        </div>
    </div>
    <!--====== End SEO score box ======-->

    <!--====== Start Latest News ======-->
    <div class="latest-news-section bg-dark-color">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="common-heading heading-white m-b-30">
                        <h2 class="title m-b-15">News & Blog</h2>
                        <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sity voluptatem accusantium doloremque</p>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="blog-standard.html" class="template-btn white-bg bordered-btn m-b-30">View More News <i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="row justify-content-center latest-news-v1">
                <div class="col-lg-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="latest-news-box m-t-30">
                        <div class="post-thumbnail hover-overly-zoom">
                            <img src="static/picture/blog-thumbnail-1.jpg" alt="Thumbnail">
                            <div class="post-tag">
                                <a href="#">SEO</a>
                            </div>
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#"><i class="far fa-calendar-alt"></i>25 May 2021</a></li>
                                <li><a href="#"><i class="fas fa-comment-dots"></i>Com (05)</a></li>
                            </ul>
                            <h4 class="title"><a href="blog-details.html">Data Visualization Improve Mobile Experience.</a></h4>
                            <a href="blog-details.html" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="latest-news-box m-t-30">
                        <div class="post-thumbnail hover-overly-zoom">
                            <img src="static/picture/blog-thumbnail-2.jpg" alt="Thumbnail">
                            <div class="post-tag">
                                <a href="#">SEO</a>
                            </div>
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#"><i class="far fa-calendar-alt"></i>25 May 2021</a></li>
                                <li><a href="#"><i class="fas fa-comment-dots"></i>Com (05)</a></li>
                            </ul>
                            <h4 class="title"><a href="blog-details.html">Make Honest Design Work Digital Business Ways.</a></h4>
                            <a href="blog-details.html" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="latest-news-box m-t-30">
                        <div class="post-thumbnail hover-overly-zoom">
                            <img src="static/picture/blog-thumbnail-7.jpg" alt="Thumbnail">
                            <div class="post-tag">
                                <a href="#">SEO</a>
                            </div>
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><a href="#"><i class="far fa-calendar-alt"></i>25 May 2021</a></li>
                                <li><a href="#"><i class="fas fa-comment-dots"></i>Com (05)</a></li>
                            </ul>
                            <h4 class="title"><a href="blog-details.html">Should You Do When Web Design Trend Becomes</a></h4>
                            <a href="blog-details.html" class="read-more-btn">Read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End Latest News ======-->
</section>
<!--====== End Latest Blog With SEO score box ======-->

<!--====== Start Scroll To Top And Footer ======-->
{{template "common/footer.html" .}}
<!--====== End Scroll To Top And Footer ======-->
</body>

</html>