<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>
<!--====== Start Header ======-->
{{template "common/sub_header.html" .}}
<!--====== End Header ======-->

<!-- Start Search From -->
<div class="modal fade search-area" id="search-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <input type="text" placeholder="Search here...">
                <button class="search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- End Search From -->

<!--====== Page title area Start ======-->
<section class="page-title-area">
    <div class="container">
        <div class="page-title-content text-center">
            <h1 class="page-title">Service Details</h1>

            <ul class="breadcrumb-nav">
                <li><a href="index.html">Home</a></li>
                <li class="active">Service Details</li>
            </ul>
        </div>
    </div>
    <div class="page-title-effect d-none d-md-block">
        <img class="particle-1 animate-zoom-fade" src="static/picture/particle-1.png" alt="particle One">
        <img class="particle-2 animate-rotate-me" src="static/picture/particle-2.png" alt="particle Two">
        <img class="particle-3 animate-float-bob-x" src="static/picture/particle-3.png" alt="particle Three">
        <img class="particle-4 animate-float-bob-y" src="static/picture/particle-4.png" alt="particle Four">
        <img class="particle-5 animate-float-bob-y" src="static/picture/particle-5.png" alt="particle Five">
    </div>
</section>
<!--====== Page title area End ======-->

<!--====== Service Details Start ======-->
<section class="service-details-area p-t-130 p-b-130">
    <div class="container">
        <div class="service-details-content">
            <h2 class="service-title">Email Marketing</h2>

            <p class="m-b-30">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                tempora incidunt ut labore et dolore magnam aliquam</p>

            <div class="row">
                <div class="col-md-6">
                    <div class="m-b-30">
                        <img src="static/picture/service-details-thumbnail-1.jpg" alt="Service One">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-b-30">
                        <img src="static/picture/service-details-thumbnail-2.jpg" alt="Service Two">
                    </div>
                </div>
            </div>

            <h3 class="service-subtitle">Results For Email Marketing In Business</h3>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt porro quisquam </p>

            <div class="row iconic-boxes-v2">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="iconic-box m-t-50">
                        <div class="icon">
                            <img src="static/picture/business-analysis.png" alt="Business">
                        </div>
                        <h5 class="title"><a href="#">Business Analysis</a></h5>
                        <p>
                            Sed perspiciatis unde omnis este error voluptate accusant doloremque systems.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="iconic-box m-t-50">
                        <div class="icon">
                            <img src="static/picture/consulting.png" alt="Consulting">
                        </div>
                        <h5 class="title"><a href="#">Fintech Consulting</a></h5>
                        <p>
                            Sed perspiciatis unde omnis este error voluptate accusant doloremque systems.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="iconic-box m-t-50">
                        <div class="icon">
                            <img src="static/picture/finance.png" alt="Finance">
                        </div>
                        <h5 class="title"><a href="#">Finance Platforms</a></h5>
                        <p>
                            Sed perspiciatis unde omnis este error voluptate accusant doloremque systems.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="iconic-box m-t-50">
                        <div class="icon">
                            <img src="static/picture/cog.png" alt="Quality">
                        </div>
                        <h5 class="title"><a href="#">Quality Assurance</a></h5>
                        <p>
                            Sed perspiciatis unde omnis este error voluptate accusant doloremque systems.
                        </p>
                    </div>
                </div>
            </div>

            <div class="service-faq p-t-70 p-b-70">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-10 order-lg-last">
                        <div class="faq-content">
                            <h3 class="service-subtitle">Frequently Asked Questions</h3>

                            <div class="landio-accordion-v1 accordion-bordered">
                                <div class="accordion" id="accordionFAQ">
                                    <div class="accordion-item">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="false" aria-controls="collapseOne">
                                                Choose Work With MintTwist SEO Agency?
                                            </button>
                                        </h5>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordionFAQ">
                                            <div class="accordion-body">
                                                <p>We are confident in our SEO strategies and in general we will start
                                                    to see organic traffic and conversions growing after approximately
                                                    4-6 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="true"
                                                    aria-controls="collapseTwo">
                                                How Long Does It Take to Start Ranking?
                                            </button>
                                        </h5>
                                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                             data-parent="#accordionFAQ">
                                            <div class="accordion-body">
                                                <p>We are confident in our SEO strategies and in general we will start
                                                    to see organic traffic and conversions growing after approximately
                                                    4-6 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree">
                                                Can You Guarantee Results?
                                            </button>
                                        </h5>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionFAQ">
                                            <div class="accordion-body">
                                                <p>We are confident in our SEO strategies and in general we will start
                                                    to see organic traffic and conversions growing after approximately
                                                    4-6 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h5 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-toggle="collapse" data-target="#collapseFour"
                                                    aria-expanded="false" aria-controls="collapseFour">
                                                Do You Only Work Within The UK?
                                            </button>
                                        </h5>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                             data-parent="#accordionFAQ">
                                            <div class="accordion-body">
                                                <p>We are confident in our SEO strategies and in general we will start
                                                    to see organic traffic and conversions growing after approximately
                                                    4-6 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9 order-lg-first">
                        <div class="faq-image text-lg-left m-t-md-60">
                            <img src="static/picture/service-details-thumbnail-3.jpg" alt="faq image">
                        </div>
                    </div>
                </div>
            </div>

            <p>
                On the other hand, we denounce with righteous indignation and dislike men who are beguiled demoralized
                by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                trouble that are bound to ensue and equal blame "On the other hand, we denounce with righteous
                indignation and dislike men who are so beguiled and demoralized by the charms of pleasure
            </p>
        </div>
    </div>
</section>
<!--====== Service Details End ======-->

<!--====== Newsletter Area Start ======-->
<section class="newsletter-area bg-cover-center bg-soft-grey-color p-t-130 p-b-130"
         style="background-image: url(/static/image/newsletter-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="newsletter-text">
                    <div class="common-heading-v1 text-center m-b-40 p-0 px-5">
                        <span class="tagline">Newsletter Subscribe</span>
                        <h2 class="title">Subscribe Our Newsletter To Get More Update</h2>
                    </div>

                    <form action="#" class="newsletter-form">
                        <div class="input-field">
                            <input type="email" placeholder="Enter Your Email Address">
                            <button class="template-btn">Subscribe Now <i class="far fa-arrow-right"></i></button>
                        </div>

                        <p class="text-center m-t-25">On the other hand, we denounce with righteous</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-particle-effect d-none d-md-block">
        <img class="particle-1 animate-float-bob-y" src="static/picture/particle-2.png" alt="particle Two">
        <img class="particle-2 animate-zoominout" src="static/picture/particle-3.png" alt="particle Three">
        <img class="particle-3 animate-zoominout" src="static/picture/particle-4.png" alt="particle Four">
        <img class="particle-4 animate-zoominout" src="static/picture/particle-5.png" alt="particle Five">
    </div>
</section>
<!--====== Newsletter Area End ======-->

<!--====== Start Scroll To Top And Footer ======-->
{{template "common/footer.html" .}}
<!--====== End Scroll To Top And Footer ======-->
</body>

</html>