<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>
    <!--====== Page title area Start ======-->
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content text-center">
                <h1 class="page-title">Sign In</h1>

                <ul class="breadcrumb-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Sign In</li>
                </ul>
            </div>
        </div>
        <div class="page-title-effect d-none d-md-block">
            <img class="particle-1 animate-zoom-fade" src="/static/picture/particle-1.png" alt="particle One">
            <img class="particle-2 animate-rotate-me" src="/static/picture/particle-2.png" alt="particle Two">
            <img class="particle-3 animate-float-bob-x" src="/static/picture/particle-3.png" alt="particle Three">
            <img class="particle-4 animate-float-bob-y" src="/static/picture/particle-4.png" alt="particle Four">
            <img class="particle-5 animate-float-bob-y" src="/static/picture/particle-5.png" alt="particle Five">
        </div>
    </section>
    <!--====== Page title area End ======-->

    <!--====== Sign In Content  ======-->
    <section class="sign-in-section p-t-120 p-b-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                    <div class="sign-in-up-wrapper">
                        <form action="#">
                            <div class="form-groups">
                                <h4 class="form-title">Log In To Your Account</h4>
                                <div class="field-group">
                                    <div class="icon">
                                        <i class="far fa-user"></i>
                                    </div>
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="field-group">
                                    <div class="icon">
                                        <i class="far fa-lock"></i>
                                    </div>
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="field-group">
                                    <button type="submit">Log In</button>
                                </div>
                            </div>
                            <div class="form-note">
                                <p>New to Landio? <a href="/sign-up">Sign Up</a></p>
                            </div>
                        </form>
                        <a href="#" class="forgot-password">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Sign In End ======-->
    <!--====== Jquery ======-->
    <script defer="defer" data-cfasync="false" src="static/js/email-decode.min.js"></script>
    <!--Jquery-->
    <script defer="defer" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--====== Bootstrap ======-->
    <script defer="defer" src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <!--====== Slick slider ======-->
    <script defer="defer" src="static/js/slick.min.js"></script>
    <!--====== Magnific ======-->
    <script defer="defer" src="https://cdn.bootcdn.net/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope Js ======-->
    <script defer="defer" src="static/js/isotope.pkgd.min.js"></script>
    <!--====== Inview ======-->
    <script defer="defer" src="static/js/jquery.inview.min.js"></script>
    <!--====== Nice Select ======-->
    <script defer="defer" src="https://cdn.bootcdn.net/ajax/libs/jquery-nice-select/1.0/js/jquery.nice-select.min.js"></script>
    <!--====== Wow ======-->
    <script defer="defer" src="static/js/wow.min.js"></script>
    <!--====== Main JS ======-->
    <script defer="defer" src="static/js/main.js"></script>
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a58069133c5f09969ad319a3ac1ec2d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>