<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>

<!--====== Sign In Content  ======-->
<section class="sign-in-section p-t-120 p-b-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="sign-in-up-wrapper">
                    <form>
                        <div class="form-groups">
                            <h4 class="form-title">Create Your Account</h4>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-user"></i>
                                </div>
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="field-group login-email-box">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <input type="email" placeholder="Email Address">
                                <button class="send-code-button">Send Code</button>
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-rss"></i>
                                </div>
                                <input type="text" placeholder="Email verification code">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input type="password" placeholder="Confirm Password">
                            </div>
                            <div class="field-group">
                                <button id="register" type="submit">Create Account</button>
                            </div>
                        </div>
                        <div class="form-note">
                            <p>Already have an account? <a href="/sign-in">Log In</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Sign In End ======-->
<!--脚本文件-->
{{template "common/script.html" .}}
<script>
    $(function () {
        $(".send-code-button").click(function () {
            const emailRegExp = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z]{2,4})+$/;
            var email = $("input[type='email']").val()
            if (!emailRegExp.test(email)) {
                $.toast("The mailbox format is incorrect")
                return false
            }
            $.ajax({
                url: "/api/v1/send-code",
                type: "POST",
                data: JSON.stringify({email: email}),
                dateType: "json",
                error: function () {
                    $.toast("The verification code has been sent fail")
                },
                success: function () {
                    $.toast("The verification code has been sent")
                }
            })
            return false
        })
        $("#register").click(function () {
            return false
        })
    })
</script>
<!--脚本文件-->
</body>

</html>