<!DOCTYPE html>
<html lang="en">

<!-- head公共模块开始 -->
{{template "common/head.html" .}}
<!-- hea公共模块结束 -->

<body>

<!--====== Sign In Content  ======-->
<section class="sign-in-section p-t-120 p-b-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="sign-in-up-wrapper">
                    <form action="#">
                        <div class="form-groups">
                            <h4 class="form-title">Create Your Account</h4>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-user"></i>
                                </div>
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <input type="email" placeholder="Email Address">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="field-group">
                                <div class="icon">
                                    <i class="far fa-lock"></i>
                                </div>
                                <input type="password" placeholder="Confirm Password">
                            </div>
                            <div class="field-group">
                                <button type="submit">Create Account</button>
                            </div>
                        </div>
                        <div class="form-note">
                            <p>Already have an account? <a href="/sign-in">Log In</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Sign In End ======-->
<!--脚本文件-->
{{template "common/script.html" .}}
<!--脚本文件-->
</body>

</html>