<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Soscoon offers high-quality social media marketing services to help your business or personal brand expand its reach quickly. We have a professional team and the latest technology to provide you with customized solutions.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="max-age=2592000">
    <title>Landio - Multipurpose Landing Page HTML Template || Saas Landing</title>

    <!--====== Bootstrap css ======-->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <!--====== Slick Slider ======-->
    <link rel="stylesheet" href="static/css/slick.min.css">
    <!--====== Magnific ======-->
    <link href="https://cdn.bootcdn.net/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <!--====== Nice Select ======-->
    <link href="https://cdn.bootcdn.net/ajax/libs/jquery-nice-select/1.0/css/nice-select.min.css" rel="stylesheet">
    <!--====== Animate CSS ======-->
    <link href="https://cdn.bootcdn.net/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">
    <!--====== Font Awesome ======-->
    <link rel="stylesheet" href="static/css/all.min.css">
    <!--====== Flaticon ======-->
    <link rel="stylesheet" href="static/css/flaticon.css">
    <!--====== Spacing Css ======-->
    <link rel="stylesheet" href="static/css/spacing.min.css">
    <!--====== Main Css ======-->
    <link rel="stylesheet" href="static/css/style.css">
    <!--====== Responsive CSS ======-->
    <link rel="stylesheet" href="static/css/responsive.css">
</head>